@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
    .slick-next {
      right: 170px !important;
  }

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
  .items {
    width: 78%;
    margin: 0px 0px 0 198px;
    padding-top: 14px;
}
  .slick-next {
      right: 121px !important;
  }
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
  .slick-next {
      right: 170px;
  }
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .box {
    height: 313px;
  }
  .box_phone {
    font-size: 24px;
  }
  .slick-next {
      right: 170px;
  }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
  .slick-next {
      right: 170px;
  }
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {


  .header_content {
      height: 44px;
      margin-top: 0px;
      margin-right: -27px;
  }
  
   .items {
    width: 91%;
    margin: 0px 69px;
    padding-top: 14px;
  }
  .slick-prev {
    left: -50px !important;
  }
  .slick-next {
    right: 6px !important;
  }

}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .main_nav {
    display: none;
  }
  .logo_container {
    width: 181px;
  }
  .logo_content {
    padding-left: 28px;
  }
  .logo_text {
    font-size: 24px;
  }
  .logo_sub {
    font-size: 12px;
    font-weight: 400;
  }
  .top_bar_content {
    padding-left: 166px;
  }
  .top_bar_item {
    margin-left: 27px;
  }
  .top_bar_item a {
    font-size: 12px;
  }
  .emergencies {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 0px;
  }
  .logo_box {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  .hamburger {
    display: block;
    top: 7px;
  }
  .home_title h1 {
    font-size: 56px;
  }
  .boxes {
    padding-top: 95px;
  }
  .box_col {
    margin-top: 0;
  }
  .box_col:not(:last-child) {
    margin-bottom: 30px;
  }
  .box {
    height: auto;
    padding-bottom: 40px;
  }
  .about_image {
    position: relative;
    right: auto;
    bottom: auto;
    text-align: center;
    margin-top: 55px;
    left: 0;
  }
  /* .footer_column {
    padding-top: 75px;
  } */
  .copyright_content {
    height: auto;
    padding-top: 12px;
    padding-bottom: 30px;
  }
  .footer_social ul {
    margin-right: 0;
    /* margin-left: -5px; */
    margin-top: 15px;
    text-align: center;
  }
  .about_pic {
    float: right;
    margin-right: 53px;
    padding-left: 26px;
    padding-bottom: 16px;
    padding-top: 59px;
  }
 /* .col-md-6.d-flex.mb-2.mb-md-0 {
    display: none;
  }*/
  a.navbar-brand.d-flex.align-items-center {
    margin-left: -20px;
  }
  .top_bar_item:first-child {
    margin-left: -22px;
  }

}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
  .side-btn {
    display: none;
  }
  .top_bar {
    display: none;
  }
  .menu_item a {
    font-size: 16px;
    /* color: #ffffff; */
  }
  .top_bar_content {
    padding-left: 0px;
  }
  .menu_container {
    position: fixed;
    top: 0px;
    right: -50vw;
    width: 27vw;
    height: 90vh;
    background: #ffffff;
    z-index: 101;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    visibility: hidden;
    opacity: 0;
  }
  .menu_close_container {
    position: absolute;
    top: 12px;
    right: 22px;
    width: 14px;
    height: -18px;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  ul.menu_list.menu_mm {
    margin-top: -18px;
  }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
 
  .logo_container {
    height: 127px;
  }
  .logo {
    margin-top: 9px;
  }
  .home_content_inner {
    width: 100%;
  }
  .dept_text {
    margin-top: 15px;
  }
  .dept_button {
    position: relative;
    margin-top: 20px;
  }
  .cta_content h2 {
    font-size: 36px;
  }
  .main_title{
    margin-left: 10px;
  }
 
    
}

/************
11. 575px
************/

@media (min-width: 319px) and (max-width: 626px) {

  .dropdown-menu{
    padding: 0 0;
  }


  .hamburger {
    top: 0px;
    right: 26px;
  }


  a.navbar-brand.d-flex.align-items-center {
    margin-left: -26px;
  }
  .foo_nav ul li {
    margin-left: 3px;
  }

  .foo_nav li.lines {
    border-left: 2px solid #1c1b1b;
    height: 13px;
  }
  


  .nav-tabs {
    width: 344px;
  }
  .header_container.nav_light {
    padding-right: 33px;
  }
  .footer .header_container.nav_light {
    padding-right: 0px;
  }
  .cr {
    margin-left: 0px;
  }
  .footer_container {
    padding-bottom: 19px;
  }
  .footer_about_list {
    margin-top: 9px;
  }
  .footer_about_text {
    margin-top: 0px;
  }
  .items {
    width: 91%;
    margin: 8px 110px;
    height: 100px;
  }
  .items img {
    height: 103px;
    border: 1px solid #20afb4;
}
  .slick-next {
    right: 98px !important;
  }
  .slick-prev {
    left: -16px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 15px 18px;
  }
  img.d-block.w-100.slideimg {
    height: 336px;
  }
  p {
    font-size: 13px;
  }
  /* .header.scrolled {
    top: 0px !important;
  } */
  .header.scrolled .header_content {
    margin-top: 62px;
  }
  /* .header_content, */
  .header.scrolled .header_content {
    height: 60px;
  }
  .header.scrolled .logo_container {
    top: 0;
  }
  .header.scrolled .logo_container {
    height: 77px;
  }
  .hamburger i {
    font-size: 20px;
  }
  .logo_container {
    width: 141px;
    height: 77px;
  }
  .logo_content {
    padding-left: 20px;
  }
  .logo_text {
    font-size: 16px;
  }
  .logo_box {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
  }
  .logo_sub {
    font-size: 10px;
    padding-left: 1px;
  }
  .menu {
    top: 90px;
    background: white;
    padding: 27px 67px 24px 43px;
    margin-left: 18px;
    border-radius: 10px;
  }
  .menu_close_container {
    top: 20px;
    right: 20px;
  }
  /* .home {
    height: 63vh;
  } */
  .home_content {
    top: calc(50% + 34px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .home_title h1 {
    font-size: 36px;
  }
  .home_text p {
    font-size: 13px;
  }
  .menu_container {
    width: 100vw;
    right: -100vw;
  }
  .menu_container::after {
    background: #3bc053;
  }
 /* .menu_item a {
    font-size: 20px;
  }*/
  .section_title h2 {
    font-size: 24px;
  }
  .button {
    height: 41px;
    margin-left: 108px;
  }
  .button a {
    font-size: 11px;
    line-height: 41px;
    padding-left: 29px;
    padding-right: 34px;
  }
  .box {
    padding-left: 25px;
  }
  .working_hours {
    padding-right: 30px;
  }
  .cta_content h2 {
    font-size: 28px;
  }
  .services_row {
    margin-top: 14px;
  }
  .copyright {
    width: 100%;
    background: #299adc !important;
    position: relative;
    z-index: 3;
    height: 100px;
  }
  .side-btn {
    display: none;
  }
  .py-3.clogo {
    margin-top: -13px;
    margin-left: 80px;
  }
 
  
  p:last-of-type {
    margin-bottom: 0;
  }
  
  .w-100.slideimg {
    padding-top: 75px;
  }
  span.carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 38px;
    background-size: 100% 100%;
    border-style: outset;
    background-color: #a9a6a6;
  }
 
 /* .dghs {
    width: 100%;
    height: 46px;
    margin-left: 31px;
    margin-top: 9px;
}*/
.top_bar_item {
    margin-left: 0px;
}

.items .slick-list {
    width: 218px;
}
.items .slick-track {
     margin-left: 0px !important; 
}
.slick-prev {
     left: 0px; 
}

.dropdown-submenu1 {
  position: relative;
}

.dropdown-submenu1 a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu1 .dropdown-menu1 {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
/*.menu_item li a {
    color: white;
}*/

.view-all{
  margin-right: 26px;
}
.quick{
  padding-left: 20px !important;
}
.main_title{
  margin-left: 10px !important;
}
.titbcg {
  margin-top: -11px;
  font-size: 11px;
}

}
 /* .header.scrolled {
    top: -185px;
  }*/

/************
11. 539px
************/

@media only screen and (max-width: 539px) {

}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {

}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
  .home_title h1 {
    font-size: 28px;
  }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {

}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .bcg_title {
      font-size: 18px !important;
  }
}
@media (max-width: 767px){
  .right-logo{
    display: none;
  }
}